.detailTopCard {
  display: flex;
  padding: 0 22rem;
  gap: 15rem;
  border-top: 1px solid;
  background-color: #202020;

  .image {
    height: 26.25rem;
  }
  .charName {
    display: flex;
    align-items: center;
    font-size: 4.6875rem;
    color: white;
  }
}

.detailBottomCard {
  display: flex;
  padding: 2.5rem 22rem;
  gap: 30rem;
  .leftText {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .hr {
    height: 2px;
    width: 8rem;
    background-color: #202020;
  }
  .Description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    min-height: 15rem;
  }
  .bioText {
    font-size: 1.625rem;
    font-weight: 600;
  }
}
