.mainDashboard {
  margin: 2rem 5rem;
  padding: 1rem 2rem;
  height: 100%;
  .infoCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
  }
  .linkText {
    display: flex;
    flex-direction: column;
    width: 210px;
    text-decoration: none;
    :hover {
      color: black;
    }
  }

  .cardText {
    border-top: 5px solid red;
    height: 110px;
    width: 180px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem 1.06rem 1.25rem;
    border-bottom-right-radius: 1.25rem;
  }
  .cardText:hover {
    background-color: red;
    transition: 1000ms;
  }

  .image {
    width: 224px;
    height: 336px;
  }
  .grayText {
    color: #bbbb;
  }
  @media only screen and (max-width: 375px) {
    .infoCard {
      grid-template-columns: repeat(auto-fill, 1fr);
    }
  }
}
@media only screen and (max-width: 425px) {
  .mainDashboard {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2rem 0;
  }
}
